<div *ngIf="user" class="m-333">
  <mat-card class="p-0">
    <mat-card-title class="default">
      <div class="card-title-text">{{pageTitle}}</div>
      <mat-divider></mat-divider>
    </mat-card-title>
    <mat-card-content>
      <form [formGroup]="userEditForm" (ngSubmit)="editUser()">
        <div fxLayout="row wrap">
          <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1">
            <div class="pb-1">
              <mat-form-field class="full-width">
                <input matInput name="firstname" formControlName="firstname" placeholder="{{'FirstName' | translate}}" >
              </mat-form-field>
            </div>

            <div class="pb-1">
              <mat-form-field class="full-width">
                <input matInput name="lastname" formControlName="lastname" placeholder="{{'LastName' | translate}}" >
              </mat-form-field>
            </div>

            <div class="pb-1">
              <mat-form-field class="full-width">
                <input matInput type="email" name="email" formControlName="email" placeholder="{{'Email' | translate}}" >
              </mat-form-field>
              <small *ngIf="userEditForm.controls['email'].hasError('email') && userEditForm.controls['email'].touched"
                class="form-error-msg">
                {{'EmailInvalid' | translate}} </small>
            </div>

            <div class="pb-1">
              <mat-form-field class="full-width">
                <input matInput name="username" formControlName="username" placeholder="{{'Username' | translate}}" >
              </mat-form-field>
              <small *ngIf="userEditForm.controls['username'].hasError('required') && userEditForm.controls['username'].touched"
                class="form-error-msg"> {{'UsernameRequired' | translate}} </small>
              <small *ngIf="userEditForm.controls['username'].hasError('username') && userEditForm.controls['username'].touched"
                class="form-error-msg">
                {{'Username' | translate}} </small>
            </div>
          </div>

          <div fxFlex="100" fxFlex.gt-xs="50">
            <div class="pb-1">
              <mat-form-field class="full-width">
                <input matInput [readonly]="true" name="nursing_home" formControlName="nursing_home" placeholder="{{'NursingHome' | translate}}" >
              </mat-form-field>
            </div>

            <div class="pb-1">
              <mat-form-field class="full-width">
                <input matInput [readonly]="true" name="registered_on" formControlName="registered_on" placeholder="{{'RegisteredOn' | translate}}" >
              </mat-form-field>
            </div>

            <div class="pb-1">
              <mat-form-field class="full-width">
                <input matInput [readonly]="true" name="last_login" formControlName="last_login" placeholder="{{'LastLoginOn' | translate}}" >
              </mat-form-field>
            </div>
          </div>
          <div fxFlex="100" class="mt-1">
            <button mat-raised-button color="primary" [disabled]="userEditForm.invalid || !userEditForm.dirty" type="submit">
              {{'Edit' | translate}}</button>
            <span fxFlex></span>
            <button mat-button color="warn" type="button" (click)="cancelEdit()">{{'Cancel' | translate}}</button>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>

  <mat-card class="default">
    <mat-progress-bar *ngIf="loadUserPatientsPending$ | async" [mode]="(loadUserPatientsPending$ | async) ? 'indeterminate' : 'determinate'"
      class="session-progress"></mat-progress-bar>
    <mat-card-title>{{'ConnectedPatientProfiles' | translate}}</mat-card-title>
    <mat-card-content class="p-0" fxLayout="column">
      <div class="activity-data">
        <ngx-datatable 
          class="material bg-white" 
          [columnMode]="'force'" 
          [headerHeight]="50" 
          [footerHeight]="50"
          [rowHeight]="50" 
          [limit]="4" 
          [rows]="userPatients$ | async">

          <ngx-datatable-column name="{{'Name' | translate}}" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row?.firstname }} {{ row?.lastname }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="{{'Permission' | translate}}" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row?.permission }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="{{'NursingHome' | translate}}" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row?.nursing_home.name }}
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </mat-card-content>
  </mat-card>
</div>