<mat-progress-bar *ngIf="isPending$ | async" [mode]="(isPending$ | async) ? 'indeterminate' : 'determinate'" class="session-progress"></mat-progress-bar>
<div class="mat-box-shadow margin-333">
  <ngx-datatable 
    class="material fullscreen bg-white"
    [columnMode]="'force'"
    [headerHeight]="50"
    [footerHeight]="0"
    [rowHeight]="50"
    [scrollbarV]="false"
    [rows]="nursingHomes | async"
    [selectionType]="'single'"
    (select)="onSelectRow($event)">

    <ngx-datatable-column name="{{'NHName' | translate}}" [flexGrow]="1">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{ row?.name }}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="{{'NHKey' | translate}}" [flexGrow]="1">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{ row?.key }}
      </ng-template>
    </ngx-datatable-column>
    
  </ngx-datatable>
</div> 