<mat-progress-bar *ngIf="loading$ | async" [mode]="(loading$ | async) ? 'indeterminate' : 'determinate'" class="session-progress"></mat-progress-bar>
<div class="mat-box-shadow margin-333">
    <ngx-datatable
            class="material fullscreen bg-white"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="0"
            [rowHeight]="50"
            [scrollbarV]="false"
            [rows]="devices$ | async"
            [selectionType]="'single'"
            (select)="onSelectDevice($event)">

        <ngx-datatable-column name="{{'IP' | translate}}" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row?.serial_no }}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Serial Number" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.serial_no }}
            </ng-template>
        </ngx-datatable-column>
    </ngx-datatable>
</div>