<mat-card class="p-0">
    <!--<p>device-detail works!</p>-->
  <!--<p>{{device$ | async |json}}</p>-->


  <nav mat-tab-nav-bar>
      <a mat-tab-link
         *ngFor="let link of navLinks; let i = index"
         [routerLink]="link.path"
         routerLinkActive #rla="routerLinkActive"
         [active]="activeLinkIndex === i"
         (click)="activeLinkIndex = i">
          {{link.label}}
      </a>
  </nav>

  <router-outlet></router-outlet>

</mat-card>

  <!--<mat-tab-group>-->
      <!--<mat-tab label="One">-->
          <!--<ng-template matTabContent>-->
              <!--<moio-device-log></moio-device-log>-->
          <!--</ng-template>-->
      <!--</mat-tab>-->
      <!--<mat-tab label="Two">-->
          <!--<ng-template matTabContent>-->
              <!--<moio-device-settings></moio-device-settings>-->
          <!--</ng-template>-->
      <!--</mat-tab>-->
  <!--</mat-tab-group>-->