<h1 matDialogTitle>{{data.title}}</h1>
<form [formGroup]="itemForm" (ngSubmit)="submit()">
    <div fxLayout="row wrap" fxLayout.lt-sm="column">
      
      <div fxFlex="100"  class="pr-1">
        <mat-form-field class="full-width">
          <input
          matInput
          name="name"
          [formControl]="itemForm.controls['name']"
          placeholder="{{'GeofenceName' | translate}}">
        </mat-form-field>
      </div>

      <div fxFlex="100"  class="pr-1">
        <mat-form-field class="full-width">
          <input
              matInput
              name="search"
              autocapitalize="off"
              spellcheck="off"
              placeholder="{{'SearchMap' | translate}}"
              #search [formControl]="itemForm.controls['search']">
        </mat-form-field>
      </div>
      
      <agm-map #map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [mapTypeControl]=true >
        <agm-polygon [fillColor]="fillcolor" [fillOpacity]="fillopacity" >
        </agm-polygon>
      </agm-map>

      <div fxFlex="100" class="mt-1">
        <button mat-raised-button color="primary" [disabled]="itemForm.invalid">{{'Save' | translate}}</button>
        <span fxFlex></span>
        <button mat-stroked-button color="warn" [disabled]="!overlay" (click)="deleteGeofence()" >{{'RemoveGeofence' | translate}}</button>
        <span fxFlex></span>
        <button mat-stroked-button color="warn" type="button" (click)="cancel()">{{'Cancel' | translate}}</button>
      </div>
    </div>
</form>