<div>
        <mat-progress-bar *ngIf="loadNursinghomePending$ | async" [mode]="(loadNursinghomePending$ | async) ? 'indeterminate' : 'determinate'"
          class="session-progress"></mat-progress-bar>
        <mat-progress-bar *ngIf="createPatientPending$ | async" [mode]="(createPatientPending$ | async) ? 'indeterminate' : 'determinate'"
          class="session-progress"></mat-progress-bar>
      </div>
      
      <h1 matDialogTitle>{{data.title}}</h1>
      <small *ngIf="loadNursingHomeErrorMessage$ | async" class="text-center form-error-msg">
        {{loadNursingHomeErrorMessage$ | async}}!
      </small>
      <small *ngIf="savePatientErrorMessage$ | async" class="text-center form-error-msg">
        {{savePatientErrorMessage$ | async }}!
      </small>
      <form [formGroup]="patientForm" (ngSubmit)="submit()">
        <div fxLayout="row wrap" fxLayout.lt-sm="column">
          <div fxFlex="50" class="pr-1">
            <mat-form-field class="full-width">
              <input matInput name="firstname" [formControl]="patientForm.controls['firstname']" placeholder="{{'FirstName' | translate}}">
              <mat-error *ngIf="patientForm.controls['firstname'].invalid">{{'FirstNameRequired' | translate}}</mat-error>
            </mat-form-field>
          </div>
      
          <div fxFlex="50" class="pr-1">
            <mat-form-field class="full-width">
              <input matInput name="lastname" [formControl]="patientForm.controls['lastname']" placeholder="{{'LastName' | translate}}">
              <mat-error *ngIf="patientForm.controls['lastname'].invalid">{{'LastNameRequired' | translate}}</mat-error>
            </mat-form-field>
          </div>
      
          <div fxFlex="50" class="pr-1">
            <mat-form-field class="full-width">
              <input matInput name="patientname" [formControl]="patientForm.controls['patientname']" placeholder="{{'Patientname' | translate}}">
              <mat-error *ngIf="patientForm.controls['patientname'].invalid">{{'PatientNameRequired' | translate}}</mat-error>
            </mat-form-field>
          </div>
      
          <div fxFlex="50" class="pr-1">
            <mat-form-field class="full-width">
              <input matInput type="email" name="email" [formControl]="patientForm.controls['email']" placeholder="{{'Email' | translate}}">
              <mat-error *ngIf="patientForm.controls['email'].invalid">{{'EmailRequired' | translate}}</mat-error>
            </mat-form-field>
          </div>
      
          <div fxFlex="50" class="pr-1">
            <mat-form-field class="full-width">
              <input matInput type="password" name="password" [formControl]="patientForm.controls['password']" placeholder="{{'Password' | translate}}">
              <mat-error *ngIf="patientForm.controls['password'].invalid">{{'PasswordRequried' | translate}}</mat-error>
            </mat-form-field>
          </div>
      
          <div fxFlex="50" class="pr-1">
            <mat-form-field class="full-width">
              <input matInput type="password" name="password_confirmation" [formControl]="patientForm.controls['password_confirmation']"
                placeholder="{{'ConfirmPassword' | translate}}">
              <mat-error *ngIf="patientForm.controls['password_confirmation'].hasError('required')">
                {{'ConfirmPasswordRequired' | translate}}
              </mat-error>
              <mat-error *ngIf="patientForm.controls['password_confirmation'].hasError('NoPasswordMatch')"> 
                Password do not match 
              </mat-error>
            </mat-form-field>
          </div>
      
          <div fxFlex="50" class="pr-1">
            <mat-form-field>
              <mat-select placeholder="{{'NursingHome' | translate}}" name="nursing_home_key" [formControl]="patientForm.controls['nursing_home_key']">
                <mat-option *ngFor="let nursingHome of nursingHomes$ | async" [value]="nursingHome.key">
                  {{nursingHome.name}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="patientForm.controls['nursing_home_key'].invalid">{{'NursingHomeKeyRequired' |
                translate}}</mat-error>
      
            </mat-form-field>
          </div>
      
          <div fxFlex="100" class="mt-1">
            <button mat-raised-button color="primary" [disabled]="patientForm.invalid" type="submit">{{'Save' |
              translate}}</button>
            <span fxFlex></span>
            <button mat-button color="warn" type="button" (click)="cancel()">{{'Cancel' | translate}}</button>
          </div>
        </div>
      </form>