<div class="app-admin-wrap" [dir]='layoutConf.dir'>
  <!-- Main Container -->
  <mat-sidenav-container
    [dir]='layoutConf.dir'
    class="app-admin-container app-side-nav-container mat-drawer-transition"
    [ngClass]="{
    'navigation-top': navPosition === 'top',
    'sidebar-full': sidebarStyle === 'full',
    'sidebar-compact': sidebarStyle === 'compact' && navPosition === 'side',
    'sidebar-compact-big': sidebarStyle === 'compact-big' && navPosition === 'side',
    'layout-intransition': layoutInTransition,
    'sidebar-opened': sidebarStyle !== 'closed' && navPosition === 'side',
    'sidebar-closed': sidebarStyle === 'closed',
    'fixed-topbar': topBarFixed && navPosition === 'side'
  }">
    <!-- SIDEBAR -->
    <!-- ONLY REQUIRED FOR **SIDE** NAVIGATION LAYOUT -->
    <moio-sidebar-side ></moio-sidebar-side>

    <!-- Top navigation layout-components (navigation for mobile screen) -->
    <!-- ONLY REQUIRED FOR **TOP** NAVIGATION MOBILE LAYOUT -->
    <moio-sidebar-top *ngIf="navPosition === 'top' && getIsMobile"></moio-sidebar-top>

    <!-- App content -->
    <div class="main-content-wrap" [perfectScrollbar]="scrollConfig" [disabled]="topBarFixed">
      <!-- Header for side navigation layout-components -->
      <!-- ONLY REQUIRED FOR **SIDE** NAVIGATION LAYOUT -->
      <moio-header-side
        *ngIf="navPosition === 'side'"
        [notificPanel]="notificationPanel">
      </moio-header-side>

      <div class="rightside-content-hold" [perfectScrollbar]="scrollConfig" [disabled]="!topBarFixed">
        <!-- View Loader -->
        <div class="view-loader" *ngIf="isModuleLoading">
          <div class="spinner">
            <div class="double-bounce1 mat-bg-accent"></div>
            <div class="double-bounce2 mat-bg-primary"></div>
          </div>
        </div>
        <!-- Breadcrumb -->
        <moio-breadcrumb></moio-breadcrumb>
        <!-- View outlet -->
        <router-outlet></router-outlet>
      </div>
    </div>
    <!-- View overlay for mobile navigation -->
    <div class="sidebar-backdrop"
         [ngClass]="{'visible': sidebarStyle !== 'closed' && getIsMobile}"
         (click)="closeSidebar()"></div>

    <!-- Notificaation bar -->
    <mat-sidenav #notificationPanel mode="over" class="" position="end">
      <div class="navigation-hold" fxLayout="column">
        <moio-notifications [notificPanel]="notificationPanel"></moio-notifications>
      </div>
    </mat-sidenav>

  </mat-sidenav-container>
</div>
