<mat-card-title class="">
    <div class="card-title-text">Device Settings</div>
    <mat-divider></mat-divider>
</mat-card-title>
<mat-card-content>

    <mat-tab-group>
        <mat-tab *ngFor="let deviceSettingsCategory of deviceSettingsCategories" [label]="deviceSettingsCategory">
            <mat-card-content class="mt-1">

                <form>

                    <div fxLayout="row wrap"
                         *ngFor="let deviceSetting of getSettingsByCategory(deviceSettingsCategory)">
                        <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1">
                            <div class="pb-1">
                                <mat-form-field class="full-width">
                                    <input matInput [name]="deviceSetting.key" [placeholder]="deviceSetting.name"
                                           [value]="deviceSetting.value">
                                </mat-form-field>
                            </div>
                        </div>

                        <div fxFlex="100" fxFlex.gt-xs="50">
                            <button mat-raised-button class="mr-1" color="primary" (click)="read()">Read</button>
                            <button mat-raised-button class="mr-1" color="warn" (click)="write()">Write</button>
                        </div>
                    </div>

                </form>


            </mat-card-content>
        </mat-tab>
    </mat-tab-group>


</mat-card-content>

